@charset "utf-8";
/* ------- リセットCSS -------*/
*,*::before,*::after { box-sizing: border-box; -webkit-tap-highlight-color: transparent;}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,
pre,form,fieldset,input,textarea,p,blockquote,th,td,header, section, article, footer, article, aside, time ,nav,a{ margin:0; padding:0; text-size-adjust: 100%; -webkit-text-size-adjust: 100%;}
header,section,article,footer,article,aside,time,nav,main{ display: block; }
fieldset,img{ border:0; }
address,caption,cite,code,dfn,em,th,var{ font-style:normal; font-weight:normal; }
ol,ul{ list-style:none; }
caption,th{ text-align:left; }
h1,h2,h3,h4,h5,h6{margin:0; font-size:100%; font-weight:normal; }
q:before,q:after{ content:''; }
abbr,acronym{ border:0; }
p{ text-justify:inter-ideograph; margin: 0 0 1em 0; }
a {text-decoration: none; outline:none;}
a:hover {text-decoration: none;}
figure {margin-block-start: 0;margin-block-end: 0;margin-inline-start: 0;margin-inline-end: 0;}
img {vertical-align: bottom;-webkit-backface-visibility: hidden;backface-visibility: hidden;}
input,button,select,textarea {-webkit-appearance: none; -moz-appearance: none; appearance: none; background: transparent; border: none; border-radius: 0; font: inherit; outline: none; }
textarea { resize: vertical;}
input[type='checkbox'],input[type='radio'] { display: none;}
input[type='submit'],input[type='button'],label,button,select { cursor: pointer;}
select::-ms-expand { display: none; }